<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="TestAPI">
            <file>./tests/transfer/RegisterTest.php</file>
            <file>./tests/transfer/GetBalanceTest.php</file>
            <file>./tests/transfer/DepositTest.php</file>
            <file>./tests/transfer/WithdrawTest.php</file>
            <file>./tests/transfer/TransferCheckTest.php</file>
            <file>./tests/urls/GameListTest.php</file>
            <file>./tests/urls/GameLimitTest.php</file>
            <file>./tests/urls/GameUrlTest.php</file>
            <file>./tests/urls/GameHistoryTest.php</file>
            <file>./tests/urls/GamePromoTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
